*.o
*.mod
*.cp
*.ech
*.fld
*.log
*.map
*.out
*.shk
*.wal
*.exe
*.pyc
*.pyf
*.so

temp*
*.egg-info

cpxs.dat
field.dat

build/
dist/
__pycache__/
.eggs

airfoil_database/
example/run_database_*/figures
example/run_database_*/temp_results
example/run_database_*/results_database.json

test_3_cp_mach_comparison/figures
test_3_cp_mach_comparison/temp_results
test_3_cp_mach_comparison/results_database.json
